<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-end">
        <ion-col size="5"></ion-col>
        <ion-col size="2" class="ion-align-self-center">
            <ion-img src="../../assets/icon/icon_desu_trans.png" alt="icon"></ion-img>
        </ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let a of returnObj['map_list']" button="true">
    <ion-card-header routerLink="/game/{{a.map_name}}/{{a.map_number}}">
      <ion-card-title>{{a.map_name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
