<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button id="back"></ion-back-button>
    </ion-buttons>
    <ion-title>新規登録ページ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/logo_desu.png"></ion-img>
  <div>
    <form class="ion-padding" (submit)="signup()">
      <ion-item lines="full" class="ion-padding-bottom">
        <ion-label position="floating">ID</ion-label>
        <ion-input type="text" [(ngModel)]="id" name="id"></ion-input>
        <ion-label position="floating">パスワード</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" fill="outline" color="main">新規登録</ion-button>
    </form>
  </div>
</ion-content>
